/* Default CSS */
body {
    background-color: #f4f4f4;
    color: #333;
    font-family: Arial, sans-serif;
  }
  
  .container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* CSS for different themes */
  .dark {
    background-color: #333;
    color: #fff;
  }
  
  .dark h2 {
    color: #eee;
  }
  
  .dark label {
    color: #ddd;
  }
  
  .dark select,
  .dark input[type="text"] {
    background-color: #666;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 5px;
  }
  
  .dark .btn {
    background-color: #009933;
  }
  
  .light {
    background-color: #f4f4f4;
    color: #333;
  }
  
  .light h2 {
    color: #555;
  }
  
  .light label {
    color: #777;
  }
  
  .light select,
  .light input[type="text"] {
    background-color: #eee;
    color: #333;
    border: none;
    border-radius: 4px;
    padding: 5px;
  }
  
  .light .btn {
    background-color: #66CCFF;
  }
  
  .ocean {
    background-image: linear-gradient(to bottom, #0083b8, #0e5b80);
    color: #fff;
  }
  
  .ocean h2 {
    color: #fff;
  }
  
  .ocean label {
    color: #ccc;
  }
  
  .ocean select,
  .ocean input[type="text"] {
    background-color: #fff;
    color: #333;
    border: none;
    border-radius: 4px;
    padding: 5px;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
  }
  
  .ocean .btn {
    background-color: #0077be;
    box-shadow: 0 0 5px rgba(0, 123, 204, 0.5);
    color: #fff;
  }
  
  .mountain {
    background-color: #755939;
    color: #fff;
  }
  
  .mountain h2 {
    color: #fff;
  }
  
  .mountain label {
    color: #ccc;
  }
  
  .mountain select,
  .mountain input[type="text"] {
    background-color: #fff;
    color: #333;
    border: none;
    border-radius: 4px;
    padding: 5px;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
  }
  
  .mountain .btn {
    background-color: #755939;
    box-shadow: 0 0 5px rgba(117, 89, 57, 0.5);
    color: #fff;
  }
  